<launch> 

	<node pkg="frame_extractor" type="frame_extractor_node" name="fram_extractor" /> 

	<node pkg="rosbag" type="play" name="rosbag" args="--clock /media/michele/TOSHIBA\ EXT/Nantes_city_centre_dataset/2016-04-12-10-32-05.bag"/> 

	<!-- /media/michele/SAMSUNG/bagfiles/Nantes_city_centre_dataset/2016-04-12-10-32-05.bag -->

	<!-- /media/michele/SAMSUNG/bagfiles/Nantes_city_centre_dataset/2016-04-12-10-51-24.bag -->

	<!-- /media/michele/SAMSUNG/bagfiles/Nantes_city_centre_dataset/2016-04-12-11-06-56.bag -->

	<!-- /media/michele/TOSHIBA/Nantes_city_centre_dataset/2016-04-12-10-32-05.bag -->

</launch>
